.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.react-datepicker__input-container input {
  width: 100px;
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

.offcanvas-backdrop {
  z-index: 10001;
}

.offcanvas {
  z-index: 10002;
}

.swal2-container {
  z-index: 10003;
}

.swal2-backdrop-show {
  z-index: 10004;
}

.pagination-dark .page-link {
  color: #343a40;
}

.pagination-dark .page-link:hover,
.pagination-dark .page-link:focus {
  color: #343a40;
}

.pagination-dark .page-item.active .page-link {
  color: #fff;
  background-color: #343a40;   /* primario en modo oscuro */
  border-color: #343a40;
}

/* Deshabilitados */
.pagination-dark .page-link.disabled,
.pagination-dark .page-link:disabled {
  color: #6c757d;
}