.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.react-datepicker__input-container input {
  width: 100px;
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.dropdown-menu {
  max-height: 600px;
  overflow-y: auto;
}

.offcanvas-backdrop {
  z-index: 10001;
}

.offcanvas {
  z-index: 10002;
}