.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.react-datepicker__input-container input {
  width: 100px;
  background-color: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
